<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="form-group d-flex justify-content-end">
            <div class="input-group input-group-alternative">
              <label for="dateValue1" class="form-control-sm">DateRange : </label>
              <input [owlDateTimeTrigger]="dt1" class="form-control-md" [owlDateTime]="dt1"
              [selectMode]="'range'">
             <owl-date-time #dt1></owl-date-time>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
        <!-- <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">66KV Incomer1</h5>
                    <span class="h2 font-weight-bold mb-0">350,897 kwh</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">66KV Incomer2</h5>
                    <span class="h2 font-weight-bold mb-0">350,897 kwh</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
       </div> -->
      </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row mt-5">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <!-- <h3 class="mb-0">Usage BY 11kv</h3> -->
              </div>
              <div class="col text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
              </div>
            </div>
          </div>
          <div class="card-body">
                <fusioncharts
                width="100%"
                [type]="type1"
                [dataFormat]="dataFormat"
                [dataSource]="dataSource"
               >
              </fusioncharts>
          </div>
        </div>
      </div>
    </div>
    <br/>
</div>
<!-- <div class="container-fluid mt--7">
    <div class="row mt-5">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
               <h3 class="mb-0">Usage BY 11kv</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="card-body">
                <fusioncharts
                width="100%"
                [type]="type1"
                [dataFormat]="dataFormat"
                [dataSource]="dataSource"
               >
              </fusioncharts>
          </div>
        </div>
      </div>
    </div>
</div> -->
